# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Django
# ==========================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# ==========================
# Environment / Virtualenv
# ==========================
env/
venv/
.venv/
ENV/

# ==========================
# OS / Editor
# ==========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==========================
# pytest / coverage
# ==========================
.coverage
htmlcov/
.pytest_cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# PostgreSQL
# ==========================
*.sql
*.dump
